@import '../../theme/palette';

.news{

    margin: 10px auto;
    width: 90%;
    outline: 3px solid #e0a4a4;
    text-align: center;
    box-shadow: 1px 1px 1px 6px #05f5c1;
    opacity: 0.8;
    
    img{
        background-clip: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 50%;
        z-index: -1;

    }
    
    
  
}
